body {
  background-color:brown;
}

p {
  color: white;
  font-size: 20px;  
  font-family: inherit;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(255,239,185);
  font-size: 30px; 
  font-family: monospace
}

h3 {
  font-size:28px;
  text-decoration: overline;
  color: slategray;
  font-family: monospace
}

ul {
  color: rgb(20,45,90);
  font-size: 20px;
  background-color: gray;
}

.mypicture {
  float: right;
  width: 150px;
  height: 100px;
  border-color: black;
  border-style: ridge;
  border-radius:20px;
  border-width: thick;
}

.citation {
  font-size: 12px;
  color: black;
  text-decoration: overline;
  text-decoration: underline;
}

.header {
  font-size: 35px;
}
  
